body {
    background-color: #fff;
    margin: 0;
    color: #000;
    font-size: 16px;
    background-image: url(images/bakgrund_1.jpg);
}

h1,
h2,
h3,
h4 {
    font-family: 'Major Mono Display', monospace;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.17em;
}

h4 {
    font-size: 1.12em;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.1em;
}

a:link {
    color: #000;
}

a:visited {
    color: #000;
}

.wrapper {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    height: 100vh;
}

header {
    background-color: #fff;
    border-bottom: 1px solid #000;
    padding-left: 1em;
    padding-right: 1em;
}

header:after {
    content: "";
    display: block;
    clear: both;
}

.logoWrapper {
    background-color: #fff;
    width: 30%;
    float: left;
}

nav {
    background-color: #fff;
    font-family: 'Major Mono Display', monospace;
    font-size: 1.3em;
    width: 70%;
    float: left;
}

nav a:hover {
    color: #999;
}

.mainNav {
    margin-top: 4%;
}

main {
    background-color: #fff;
    height: 87%;
    padding-top: 4%;
    text-align: center;
    overflow: auto;
}

.content {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
}

footer {
    background-color: #fff;
}

img {
    width: 80%;
}

#menuUl {
    float: right;
}

#menuUl li {
    display: inline;
}

/* CSS specifik för index.html börjar här */
#indexPageImg {
    height: 350px;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
}

.indexGridContainer {
    width: 80%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: auto auto;
    height: 100%;
}

.indexImgDiv img {
    height: auto;
    width: 80%;
}

#mainDivIndex {
    text-align: center;
}
/* CSS specifik för index.html slutar här */

/* CSS specifik för galleri.html börjar här */
#mainDivGalleri {
    text-align: center;
}

#mainDivGalleri h4 {
    text-align: center;
    margin-top: 3em;
}

.galleryDiv {
    width: 100%;
    float: left;
    overflow: scroll;
    height: 100%;
}

.galleryGridContainer {
    padding: 1em;
    display: grid;
    grid-template-columns: auto auto auto;
}

.galleryGridContainer:last-child {
    margin-bottom: 2em;
}

.galleryImgDiv {
    width: 100%;
    font-size: 0.8em;
    font-family: 'Roboto', sans-serif;
    color: #888;
    margin-bottom: 1em;
}

.galleryImgDiv:hover {
    color: #000;
}

.galleryImgDiv img {
    height: auto;
    width: 80%;
}

.subNav {
    font-family: 'Major Mono Display', monospace;
    font-size: 1em;
    width: 30%;
    text-align: left;
}

.subNav li {
    margin: 0.75em;
}

#footerDivGalleri a {
    display: none;
    font-family: 'Major Mono Display', monospace;
    font-size: 0.95em;
}

/* CSS specifik för galleri.html slutar här */

/* CSS specifik för om.html börjar här */
.omDiv h3 {
    text-align: center;
}

.omSection {
    margin-bottom: 3.5em;
}

.utbildningDiv ul {
    list-style-type: none;
    margin-left: -1.5em;
}
/* CSS specifik för om.html slutar här */

/* CSS för aktuellt.html börjar här */
.aktuelltDiv h3 {
    margin-bottom: 1.5em;
}

.aktuelltDiv img {
    margin-top: 3.5em;
}
/* CSS för aktuellt.html slutar här */

/* CSS för kontakt.html börjar här */
#contactForm {
    padding: 1em;
}

#contactForm fieldset {
    background-color: #eee;
    margin-bottom: 1em;
}

#contactForm p {
    text-align: right;
}

#customer label {
    float:left; width:125px; text-align:left; margin-top:8px;
}

#customer input {
    display:block; margin-top:8px;
}

#message {
    margin-left: auto;
    margin-right: auto;
    width: 95%;
}
/* CSS för kontakt.html slutar här */


/* CSS för mobilanpassning börjar här */
@media only screen and (max-width: 650px) {
    body {
        font-size: 13px;
    }
    
    nav,
    .logoWrapper {
        width: 100%;
        float: none;
    }

    .logoWrapper {
        text-align: center;
    }
    
    #menuUl {
        float: none;
    }
    
    #menuUl li {
        display: block;
        margin-bottom: 0.4em;
    }

    .content img {
        width: 100%;
    }

    /* Mobilanpassad CSS specifik för index.html börjar här */
    .indexGridContainer {
        grid-template-columns: auto;
    }

    .subNav {
        width: 100%;
    }
    /* Mobilanpassad CSS specifik för index.html slutar här */

    /* Mobilanpassad CSS specifik för galleri.html börjar här */
    .galleryGridContainer {
        grid-template-columns: auto;
    }

    #mainDivGalleri h4 {
        margin-top: 2em;
    }

    .galleryGridContainer:last-child {
        margin-bottom: 0.5em;
    }

    #footerDivGalleri a {
        display: inline;
    }
    /* Mobilanpassad CSS specifik för galleri.html slutar här */

    /* Mobilanpassad CSS specifik för om.html börjar här */
    .omDiv li{
        text-align: left;
        }
    /* Mobilanpassad CSS specifik för om.html slutar här */
    
}
/* CSS för mobilanpassning slutar här */
